<div id="summary-card" class="mt-3">
  <span class="title">Top Ranking</span>
  <div id="summary-titles">
    <span class="h4">Rank</span>
    <span class="h4">Player</span>
    <span class="h4">Places</span>
    <span class="h4">Score</span>
  </div>
  <div class="sum-players top-ranker ">
    <span >#1</span>
    <span >LeBoss</span>
    <span >30</span>
    <span >1770</span>
  </div>
  <div class="sum-players">
    <span >#2</span>
    <span >Marie</span>
    <span >25</span>
    <span >1550</span>
  </div>
  <div class="sum-players">
    <span >#3</span>
    <span >Paulo</span>
    <span >19</span>
    <span >1320</span>
  </div>
  <div class="sum-players">
    <span >#4</span>
    <span >Benjamin</span>
    <span >17</span>
    <span >1240</span>
  </div>
  <div class="sum-players">
    <span >#5</span>
    <span >Clara</span>
    <span >15</span>
    <span >1160</span>
  </div>
  <div class="sum-players">
    <span >#6</span>
    <span >Nathhh</span>
    <span >12</span>
    <span >1020</span>
  </div>
</div>
