<div class="main-card mt-3">
  <span class="title text-dark">Top Ranking</span>
  <br>
  <div id="score-titles">
    <span class="h4">Rank</span>
    <span class="h4">Player</span>
    <span class="h4">Places</span>
    <span class="h4">Score</span>
  </div>
  <br>
  <div class="score-players pink-text">
    <span class="h5">#1</span>
    <span class="h5">Marie</span>
    <span class="h5">30</span>
    <span class="h5">1770</span>
    <br>
    <span class="h5">#2</span>
    <span class="h5">Marie</span>
    <span class="h5">30</span>
    <span class="h5">3500</span>
    <br>
    <span class="h5">#3</span>
    <span class="h5">Marie</span>
    <span class="h5">30</span>
    <span class="h5">3500</span>
    <br>
    <span class="h5">#4</span>
    <span class="h5">Marie</span>
    <span class="h5">30</span>
    <span class="h5">3500</span>
    <br>
    <span class="h5">#5</span>
    <span class="h5">Marie</span>
    <span class="h5">30</span>
    <span class="h5">3500</span>
  </div>
</div>
