components

<div class="container ">
<img src="https://sm.ign.com/ign_fr/cover/a/avatar-gen/avatar-generations_bssq.jpg" alt="" class="avatar">

<br>
<br>
<p class="home-btn">Create account</p>

<br>
<br>

<p class="mini-btn"><i class="fa-solid fa-gear" style="color: #ffffff;"></i></p>

<br>
<br>
<img src="assets/logo.png" alt="" class="logo">
<br>
<br>
</div>
