<div class="main-container bg-image", style="background-image: url(<%= image_path 'gradient-2.png' %>);">
  <p data-action="click->map#hide" class="map-btn"><i class="fa-regular fa-map" style="color: #fffff;"></i></p>

    <div data-controller="swiper" class="swiper mySwiper">

      <div data-swiper-target="card" class="swiper-wrapper">
        <% @places.each do |place|%>
        <div class="swiper-slide"><img src=<%= place.url_image %> data-action="click->swiper#select"></div>
        <% end %>
        <div class="swiper-slide opacity-0"></div>
        </div>
      </div>
    </div>
</div>
