<p data-action="click->map#hide" class="picture-btn"><i class="fa-solid fa-image"></i></p>

<body>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <% @places.each do |place|%>
      <div class="swiper-slide picture-slidder" style=><img src=<%= place.url_image %>></div>
      <% end %>
      </div>
    </div>
  </div>
</body>
