<%# <%= image_tag "Marker.png", height: 50, width: 50, alt: "Marker" %>
<div class="gradient-border" id="box">
  <%= cl_image_tag participation.user.photo.key , height: 50, width: 50, alt: "Player Marker", class: "avatar-marker" %>
</div>
