<div id="score-titles">
  <%# already existing %>
  <span>Rank</span>
  <span>Player</span>
  <span>Places</span>
  <span>Score</span>
</div>

<div data-lobby-target="players" class="score-players", id="score-winner">
  <p>#1</p>
  <% @game.participations.each do |participation| %>
    <%= render "participation", participation: participation %>
  <% end %>
  <p>3/4 </p>
  <p>200</p>
</div>

<div class="score-players">
  <p>#2</p>
  <p>Benjamin</p>
  <p>2/4</p>
  <p>150</p>
</div>

<div class="score-players">
  <p>#3</p>
  <p>Clara</p>
  <p>1/4</p>
  <p>100</p>
</div>
