<div id="score-titles">
  <%# already existing %>
  <span>Rank</span>
  <span>Player</span>
  <span>Places</span>
  <span>Score</span>
</div>

<% game.participations.each do |participation| %>
  <div class="score-players" data-participation-id="<%= participation.id %>">
    <p data-map-target="ranking">#<%= game.participations.count %></p>
    <%= participation.user.nickname %>
    <p data-map-target="foundPlaces">0</p>
    <p data-map-target="score">0</p>
  </div>
<% end %>
