.profile-card {
  background-color: $white;
  border-radius: 15px;
  border: 1px solid #ffff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 20px;

    .profile-card-text {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      margin-left: 20px;
      #ranking {
        font-family: 'Big Shoulders Text', cursive;
        font-weight: 400;
        font-size: 22px ;
      }
    }

    .profile-card-top {
      display: flex;
      font-family: 'Baloo 2', cursive;
      font-weight: 800;
      margin-bottom: 15px;

    }

    .profile-card-bottom {
      font-family: 'Big Shoulders Text', cursive;
      font-weight: 400;
      display: flex;
      justify-content: space-around;
      font-size: 20px;

      .pink-text {
        color: $blue;
        font-weight: 800;
      }

      #left-metric {
        width: 50%;
        text-align: center;
        border-right: 1px solid white;
        display: grid;
      }

      #right-metric {
        width: 50%;
        text-align: center;
        border-left: 1px solid white;
        display: grid;
      }

    }
}

.main-card {
  background-color: $white;
  border-radius: 15px;
  border: 1px solid #ffff;
  font-family: 'Big Shoulders Text', cursive;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  .white-input {
    background-color: white;
    color: $blue;
    border-radius: 20px;
    padding: 15px;
    width: 80%;
  }

  .parameters-text {
    font-family: 'Big Shoulders Text', cursive;
    color: $pink;
    font-weight: 400;
    font-size: 24px ;
    text-align: center;
  }

  #position {
    color: $blue;
    font-weight: 400;
    font-size: 16px ;
  }

  .loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid $blue; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}

.pink-text {
  font-family: 'Big Shoulders Text', cursive;
  color: $blue;
  font-weight: 400;
  font-size: 20px ;
}

#lobby-card {
    background-color: $white;
    border-radius: 15px;
    border: 1px solid #ffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 20px;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 24px;
    font-weight: 400;
    display: grid;

    .ready {
      color: $blue;
    }

    #players {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  #summary-card {
    background-color: $white;
    border-radius: 15px;
    border: 1px solid #ffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 20px;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 24px;
    font-weight: 400;
    display: grid;

    #summary-titles {
      text-align: center;
      display: grid;
      font-weight: 700;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-bottom: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid black;
    }

    .sum-players {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #winner {
      color: $pink;
    }
  }



  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }

  #token {
    background-color: white;
    color: $blue;
    border-radius: 20px;
    padding: 15px;
    margin: 10px auto;
    font-size: 20px;
  }

.title {
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  text-align: center;
  font-size: 24px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  // padding: 20px;
}

.content-card {
  padding: 20px;
  align-items: center;
}



.main-container {
  background-size: contain;
  height: 100vh;
}

.nickname {
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  color: white;
  font-size: 35px;
  text-shadow: rgb(0, 183, 255) 1px 0 10px;
}

.home-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-title-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #main-title {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 44px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);;
  }

  #subtitle {
    font-family: 'Baloo 2', cursive;
    color: white;
    font-size: 24px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);;
  }
}
