@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "bootstrap";
// @import "font-awesome";

@import "components/index";

@import "pages/home";


.btn-copy {
  .fa-check {
    display: none;
  }
  &.copied {
    .fa-check {
      display: block;
    }
    .fa-clone {
      display: none;
    }
  }
}
